/* Add more stuff later */
.Images-Collection {
    position: absolute;
    left: 0;
    top: 0;
    width: 85vw;
    height: 85vh;
}

.Images-Right-Bar {
    position: absolute;
    right: 0;
    top: 0;
    width: 15vw;
    height: 85vh;
    background-color: rgb(100,50,50);
    font-size: 0.9vw;
}

.Images-Edit-Button {
    background-color: rgb(150,150,200);
    font-size: 2vw;
    text-align: center;
}