.Image-Create-Body {
    background-color: rgb(200,50,250);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 85vh;
}

.Image-Create-Back {
    background-color: rgb(150,150,250);
    color: rgb(200,200,200);
    position: absolute;
    left: 2vw;
    top: 5vh;
    font-size: 5vh;
}

.Image-Create-Label {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 25vw;
    font-size: 5vh;
}

.Image-Create-Text-Input {
    color: rgb(50,150,200);
    background-color: rgb(200,200,100);
    position: absolute;
    left: 35vw;
    font-size: 5vh;
}

.Image-Create-File-Input {
    position: absolute;
    left: 35vw;
    font-size: 5vh;
}

.Image-Create-Upload {
    background-color: rgb(0,200,50);
    color: rgb(0,0,0);
    font-size: 7vh;
    position: absolute;
    left: 40vw;
    bottom: 10vh;
    width: 20vw;
    height: 10vh;
}

.Image-Create-Error {
    color: red;
    font-size: 5vh;
    position: absolute;
    left: 12vw;
    top: 4vh;
}

.Image-Create-Info {
    font-size: 5vh;
    position: absolute;
    left: 12vw;
    top: 4vh;
}